.markdown {
    @apply relative pb-8;

    h1 {
        @apply mt-8 mb-4 border-b border-gray-200 pb-1 text-3xl font-bold;
    }
    h2 {
        @apply mt-8 mb-3 text-3xl font-semibold;
    }

    h3 {
        @apply mt-6 mb-3 text-2xl font-semibold;
    }

    p {
        @apply my-6;
    }

    pre {
        @apply mt-8 mb-8 overflow-auto rounded-md px-5 py-7;

        background-color: #282e34;

        div {
            &.filename {
                @apply absolute -mt-10 -ml-4 rounded-t-md border-2 border-b-2 border-[#282e34] px-4 pt-0.5 font-sans;
                background-color: #24292e;
                color: #79b8ff;
            }
        }

        code {
            @apply text-white;
        }
    }

    p {
        a {
            @apply text-blue-400 hover:underline;
        }
        code {
            @apply rounded-sm bg-zinc-100 px-2 py-0.5 text-zinc-900;
        }
    }

    ul {
        @apply ml-6 list-inside list-disc;
        li {
            @apply my-3;

            a {
                @apply text-blue-400 hover:underline;
            }
        }
    }

    ol {
        @apply ml-6 list-inside list-decimal;
        li {
            @apply my-3;
        }
    }

    table {
        @apply my-6 w-full table-auto;

        thead {
            @apply bg-slate-50;
            th {
                @apply border border-zinc-100 py-1 px-2;
            }
        }

        tbody {
            // @apply border-zinc-50;
            td {
                @apply border border-zinc-100 py-1 px-2;
            }
        }
    }

    blockquote {
        @apply my-6 rounded border-l-4 border-slate-300 bg-slate-50 pl-4 text-slate-800;
        p {
            @apply py-3;
        }
    }
}
