.markdown {
    @apply relative pb-8;

    h1 {
        @apply mt-8 mb-4 border-b border-gray-200 pb-1 text-3xl font-bold;
    }
    h2 {
        @apply mt-6 mb-3 text-3xl font-semibold;
    }

    h3 {
        @apply mt-5 mb-3 text-2xl font-semibold;
    }

    p {
        @apply my-6;
    }

    pre {
        @apply mt-14 mb-8 overflow-auto rounded-md px-5 py-7;

        background-color: #282e34;

        div {
            &.filename {
                @apply absolute -mt-10 -ml-4 rounded-t-md border-2 border-b-2 border-[#282e34] px-4 pt-0.5 font-sans;
                background-color: #24292e;
                color: #79b8ff;
            }
        }

        code {
            @apply text-white;
        }
    }

    p {
        a {
            @apply text-blue-400 hover:underline;
        }
        code {
            @apply rounded-sm bg-zinc-100 px-2 py-0.5 text-zinc-900;
        }
    }
}
